{{#> admin.layout title=title }}
  {{#*inline "style"}}
    <link rel="stylesheet" href="/dist/css/form.css">
  {{/inline}}
  {{#*inline "content"}}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h4 class="m-0 d-flex h4">
              <ion-icon name="search-outline"></ion-icon>
              <span class="ml-2">{{ title }}</span>
            </h4>
            {{#if isAllowCreated}}
              <a href={{routes 'EmployeeRegistration'}} class="btn btn-style-2 px-4">
                <ion-icon name="person-add-outline" size="small"></ion-icon>
                <span class="ml-2">{{ langCommon.btn.employeeRegistration }}</span>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary p-4">
          <form action={{routes 'EmployeeList'}} method="get">
            <input hidden name="page" value="1" />
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>{{ langCommon.label.name }}</label>
                  <input name="name" value="{{ query.name }}" type="search" class="form-control form-control-lg">
                </div>
              </div>
              <div class="col-6">
                <label>{{ langCommon.label.position }}</label>
                <select name="position" class="form-control select2 form-control-lg">
                  <option value="">{{ langCommon.label.selectOne }}</option>
                  {{#each position}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>{{ langCommon.label.status }}</label>
                <select name="status" class="form-control select2 form-control-lg">
                  <option value="">{{ langCommon.label.selectOne }}</option>
                  {{#each status}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-6">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-style-1 px-5">
                  <ion-icon name="search-outline"></ion-icon>
                  <span class="ml-2">{{ langCommon.btn.search }}</span></button>
              </div>
            </div>
          </form>
        </div>
        {{#if employees.length }}
          <div class="card">
            <div class="card-body">
              <div class="pagination d-flex float-right">
                <p>Pages:</p>
                {{#if disabledPrev}}
                  <a href="{{ firstPage.url }}" class="last btn p-0 disabled">First</a>
                  <a href="{{ prevPage.url }}" class="next btn p-0 disabled">Prev</a>
                {{else}}
                  <a href="{{ firstPage.url }}" class="next">First</a>
                  <a href="{{ prevPage.url }}" class="last">Prev</a>
                {{/if}}
                {{#each pagination}}
                  {{#if active}}
                    <p class="{{ active }}">{{ page }}</p>
                  {{else}}
                    <a href="{{ url }}">{{ page }}</a>
                  {{/if}}
                {{/each}}
                {{#if disabledNext}}
                  <a href="{{ nextPage.url }}" class="next btn p-0 disabled">Next</a>
                  <a href="{{ lastPage.url }}" class="last btn p-0 disabled">Last</a>
                {{else}}
                  <a href="{{ nextPage.url }}" class="next">Next</a>
                  <a href="{{ lastPage.url }}" class="last">Last</a>
                {{/if}}
                <p>{{ query.page }} of {{ totalPage }}</p>
              </div>
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>{{ langCommon.label.employeeId }}</th>
                  <th>{{ langCommon.label.employeeName }}</th>
                  <th>{{ langCommon.label.position }}</th>
                  <th>{{ langCommon.label.email }}</th>
                </tr>
                </thead>
                <tbody>
                  {{#each employees}}
                    <tr>
                      <td>
                        {{#if isEnableLink}}
                          <a class="color-primary text-bold" href="{{routes 'EmployeeEdit'}}/{{id}}">{{id}}</a>
                        {{else}}
                          <p class="text-bold">{{id}}</p>
                        {{/if}}
                      </td>
                      <td>{{family_name_vn}} {{middle_name_vn}} {{first_name_vn}}</td>
                      <td>{{position}}</td>
                      <td>{{email}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="pagination d-flex float-right">
                <p>Pages:</p>
                {{#if disabledPrev}}
                  <a href="{{ firstPage.url }}" class="last btn p-0 disabled">First</a>
                  <a href="{{ prevPage.url }}" class="next btn p-0 disabled">Prev</a>
                {{else}}
                  <a href="{{ firstPage.url }}" class="next">First</a>
                  <a href="{{ prevPage.url }}" class="last">Prev</a>
                {{/if}}
                {{#each pagination}}
                  {{#if active}}
                    <p class="{{ active }}">{{ page }}</p>
                  {{else}}
                    <a href="{{ url }}">{{ page }}</a>
                  {{/if}}
                {{/each}}
                {{#if disabledNext}}
                  <a href="{{ nextPage.url }}" class="next btn p-0 disabled">Next</a>
                  <a href="{{ lastPage.url }}" class="last btn p-0 disabled">Last</a>
                {{else}}
                  <a href="{{ nextPage.url }}" class="next">Next</a>
                  <a href="{{ lastPage.url }}" class="last">Last</a>
                {{/if}}
                <p>{{ query.page }} of {{ totalPage }}</p>
              </div>
            </div>
          </div>
        {{else}}
          {{#if emptyText }}
            <div class="card">
              <div class="card-body">
                <p class="text-bold text-center mb-0">{{ emptyText }}</p>
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </section>
  {{/inline}}
  {{#*inline "script"}}
    <script>
      $(function () {
        $('select[name=position]').val("{{ query.position }}").change();
        $('select[name=status]').val("{{ query.status }}").change();
      });
    </script>
  {{/inline}}
{{/admin.layout}}
