<aside class="control-sidebar control-sidebar-dark p-3 sidebar-custom-height">
  <div class="text-center">
    <img class="img-circle elevation-2" src="/dist/img/no-avatar.png" alt="" />
    <p class="mt-3 mb-0">{{currentUser.employee.first_name_en}} {{currentUser.employee.middle_name_en}} {{currentUser.employee.family_name_en}}</p>
    <p class="mb-3">{{ currentUser.position }}</p>
  </div>
  <ul class="p-0">
    <li class="d-flex px-0 py-3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <p class="ml-2 mb-0"><a href={{routes 'UserProfile'}}>{{ langCommon.panel.profile }}</a></p>
    </li>
    <li class="d-flex px-0 py-3">
      <ion-icon name="settings-outline"></ion-icon>
      <p class="ml-2 mb-0"><a href={{routes 'UserAccount'}}>{{ langCommon.panel.accountSetting }}</a></p>
    </li>
    <li class="d-flex px-0 py-3">
      <ion-icon name="log-out-outline"></ion-icon>
      <p class="ml-2 mb-0"><a href={{routes 'Logout'}}>{{ langCommon.panel.logout }}</a></p>
    </li>
  </ul>
</aside>