<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link">
    <img src="/dist/img/logo.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">POD Platform</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {{#if currentUser.isManage}}
          <li class="nav-item">
            <a href="{{routes 'StoreIndex'}}" class="nav-link d-flex">
              <ion-icon name="search-outline"></ion-icon>
              <p class="ml-2">{{sidebar.storeIndex}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{routes 'UserList'}}" class="nav-link d-flex">
              <ion-icon name="search-outline"></ion-icon>
              <p class="ml-2">{{sidebar.userSearch}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{routes 'UserRegistration'}}" class="nav-link d-flex">
              <ion-icon name="create-outline"></ion-icon>
              <p class="ml-2">{{sidebar.userRegistration}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{routes 'SellerList'}}" class="nav-link d-flex">
              <ion-icon src="/dist/icons/search-member-outline.svg"></ion-icon>
              <p class="ml-2">{{sidebar.sellerSearch}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{routes 'SellerRegistration'}}" class="nav-link d-flex">
              <ion-icon class="mt-1" src="/dist/icons/edit-member-outline.svg" size="small"></ion-icon>
              <p class="ml-2">{{sidebar.sellerRegistration}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{routes 'MainMaster'}}" class="nav-link d-flex">
              <ion-icon class="mt-1" src="/dist/icons/configuration-light.svg" size="small"></ion-icon>
              <p class="ml-2">{{sidebar.masterRegistration}}</p>
            </a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</aside>
