{{#> admin.layout title=title }}
  {{#*inline "style"}}
    <link rel="stylesheet" href="/dist/css/common.css">
    <link rel="stylesheet" href="/dist/css/registration-confirm.css">
  {{/inline}}
  {{#*inline "content"}}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h4 class="m-0 d-flex h4">
              <ion-icon name="person-circle-outline"></ion-icon>
              <span class="ml-2">{{ langCommon.panel.profile }}</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-registration-confirm">
              <thead>
                <tr>
                  <th class="font-weight-bold w-25">{{ langCommon.label.status }}</th>
                  <th colspan="3" class="font-weight-light">{{ user.employee.statusToString }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Vietnamese</td>
                  <td><span class="font-weight-bold">{{ langCommon.label.familyNameVn }}</span> <br/> {{ user.employee.family_name_vn }}</td>
                  {{#if user.employee.middle_name_vn }}
                    <td><span class="font-weight-bold">{{ langCommon.label.middleNameVn }}</span> <br/> {{ user.employee.middle_name_vn }}</td>
                  {{/if}}
                  <td><span class="font-weight-bold">{{ langCommon.label.firstNameVn }}</span> <br/> {{ user.employee.first_name_vn }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">English</td>
                  <td><span class="font-weight-bold">{{ langCommon.label.familyNameEn }}</span> <br/> {{ user.employee.family_name_en }}</td>
                  {{#if user.employee.middle_name_en }}
                    <td><span class="font-weight-bold">{{ langCommon.label.middleNameEn }}</span> <br/> {{ user.employee.middle_name_en }}</td>
                  {{/if}}
                  <td><span class="font-weight-bold">{{ langCommon.label.firstNameEn }}</span> <br/> {{ user.employee.first_name_en }}</td>
                </tr>
                {{#if user.employee.gender }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.gender }}</td>
                    <td colspan="3">{{ user.employee.genderToString }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.race }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.race }}</td>
                    <td colspan="3">{{ user.employee.raceToString }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.birthday }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.birthday }}</td>
                    <td colspan="3">{{ user.employee.birthday }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.address }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.address }}</td>
                    <td colspan="3">{{ user.employee.address }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.cmnd }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.citizenIdentityCard }}</td>
                    <td colspan="3">{{ user.employee.cmnd }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.issue_day }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.issueDay }}</td>
                    <td colspan="3">{{ user.employee.issue_day }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.issue_place }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.issuePlace }}</td>
                    <td colspan="3">{{ user.employee.issue_place }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.phone_number }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.phoneNumber }}</td>
                    <td colspan="3">{{ user.employee.phone_number }}</td>
                  </tr>
                {{/if}}
                <tr>
                  <td class="font-weight-bold">{{ langCommon.label.email }}</td>
                  <td colspan="3">{{ user.employee.email }}</td>
                </tr>
                {{#if user.employee.tax_code }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.taxCode }}</td>
                    <td colspan="3">{{ user.employee.tax_code }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.bank_name }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.bankName }}</td>
                    <td colspan="3">{{ user.employee.bank_name }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.account_number }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.accountNumber }}</td>
                    <td colspan="3">{{ user.employee.account_number }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.social_insurance_number }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.socialInsuranceNumber }}</td>
                    <td colspan="3">{{ user.employee.social_insurance_number }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.use_period_start }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.usePeriodStart }}</td>
                    <td colspan="3">{{ user.employee.use_period_start }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.use_period_end }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.usePeriodEnd }}</td>
                    <td colspan="3">{{ user.employee.use_period_end }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.position }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.position }}</td>
                    <td colspan="3">{{ user.employee.positionToString }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.dependents }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.dependents }}</td>
                    <td colspan="3">{{ user.employee.dependents }}</td>
                  </tr>
                {{/if}}
                {{#if user.employee.memo }}
                  <tr>
                    <td class="font-weight-bold">{{ langCommon.label.memo }}</td>
                    <td colspan="3">{{ user.employee.memo }}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  {{/inline}}
{{/admin.layout}}
