{{#> admin.layout title=title }}
  {{#*inline "style"}}
    <link rel="stylesheet" href="/dist/css/form.css">
  {{/inline}}
  {{#*inline "content"}}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h4 class="m-0 d-flex h4">
              <ion-icon name="search-outline"></ion-icon>
              <span class="ml-2">{{ title }}</span>
            </h4>
            {{#if isAllowCreated}}
              <a href={{routes 'UserRegistration'}} class="btn btn-style-2 px-4">
                <ion-icon name="person-add-outline" size="small"></ion-icon>
                <span class="ml-2">{{ langCommon.btn.userRegistration }}</span>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary p-4">
          <form id="syncStore">
            <input hidden name="page" value="1" />
            <div class="row search-form">
              <div class="form-group col-5">
                <label>{{ langCommon.label.name }}</label>
                <input value="{{ query.name }}" type="search" class="form-control form-control-lg" name="store">
              </div>
              <div class="form-group col-2">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-block btn-style-1"><ion-icon name="search-outline"></ion-icon> <span class="ml-2">{{ langCommon.btn.search }}</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  {{/inline}}
  {{#*inline "script"}}
    <script>
      $(function () {

        $('form#syncStore').on('submit', function() {
          const store = $('input[name=store]').val()
          syncStore(store)
        })
        function syncStore(store) {
          jQuery.get("{{routes 'StoreSync'}}", { store }, function(result) {
            console.log('store input name', store);
            console.log('result', result);
            window.location.href = result
          })
        }

      })
    </script>
  {{/inline}}
{{/admin.layout}}
